* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Lobster;
    src: url('../webfonts/lobster-regular.ttf');
}
@font-face {
    font-family: DancingScript;
    src: url('../webfonts/DancingScript-Bold.ttf');
}
/* general */
.custom-btn {
    background: #ffa41f;
    color: white;
    font-weight: bold;
}

.title {
    color: #ffa41f;
    font-family: Lobster;
}


.color-orange {
    color: #ffa41f;
}
.font-dancing {
    font-family: DancingScript;
}
/* end general */
/* ==================Banner==================== */
.home {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner {
    position: relative;
}
.banner .carousel-indicators li {
    width: 60px;
    height: 5px;
}

.banner-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.banner .carousel-item .maxim {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);
    width: 100%;
    text-align: center;
}

.banner .carousel-item .maxim h2 {
    color: #fff;
    font-family: Lobster;
    font-size: 60px;
}

/* ==================End Banner==================== */

/* ==================Nav==================== */
.header-info {
    position: sticky;
    z-index: 9;
}
.header-info .social-icons{
    z-index: 999;
    color:white;
    font-size: 16px;
}

.header-info .social-icons i{
    font-size: 20px;
}
.header-blur {
    background: rgba(0, 0, 0, 0.6);
}
.main-nav {
   border-top:1px solid #FFF;
   
}

.banner-content .navbar button{
    background: white;
 }

 .fixed-menu button{
    background: white;
 }
 .name-restaurant {
     font-family: Lobster;
     font-size: 40px;
     text-indent:15px;
     color: #FFF;
 }

 .main-nav .nav-link {
     color:white;
 }

 .main-nav .navbar-nav .nav-item {
     transition: all .2s;
 }
 .main-nav .navbar-nav .nav-item:hover {
    border: solid 1px #ffa41f;
 }

 .main-nav .navbar-nav .active {
    border: solid 1px #ffa41f;
}
/* ==================End Nav==================== */

/* ==================About====================== */

.intro-text {
    font-size: 14px;
}
/* ==================End About================== */

/* ==================Food================== */
.food-menu {
    background: url('../storage/food-menu/bg-menu.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.food-menu .nav-tabs {
    border-bottom: 0px;
}

.food-menu .nav-tabs .nav-item .nav-link{
    background: unset;
    border-radius: unset;
    color: #ffa41f;
    transition: all .1s;
    font-size: 20px;
    font-family: Lobster;
}

.food-menu .nav-tabs .nav-item .nav-link:hover {
    color: #fff;
}

.food-menu .nav-tabs .nav-item .nav-link.active {
    border: solid 1px #ffa41f;
    color: #FFF;
}
.food-menu .nav-tabs .nav-item:hover .nav-link {
    border: solid 1px #ffa41f;
}

.food-border-r {
    border-right: solid 3px #ffa41f;

}

.food-img-hover {
    overflow: hidden;
}

.food-img-hover img:hover {
    transform: scale(1.2);
    transition: all .5s;
}
.font-food-menu {
    text-align: center;
    font-size: 13px;
}
.font-menu-japan {
    color: #8b8888
}
.font-menu-price {
    color: #fc0404;
    font-size: 14px;
    font-weight: bold;
}

.product-img {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.product-img img{
    width: 100%;
    cursor: pointer;
}

.product-info {
    text-align: center;
    color: white;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.product-img:hover .product-info {
    transition: all .4s;
    transform: translateX(0%);
}

.info-txt {
    width: 80%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-20%);
}
/* ==================End Food================== */
/* ==================sell off================== */
.km-slider {
    position: relative;
    overflow: hidden;
}

.km-slider .km-slider-inner {
    display: inline-flex;
    transition: ease 3s;
}

.km-slider .km-slider-inner .km-item {
    margin: 0 10px 0 10px;
}

.km-slider .km-slider-inner .km-item img{
    max-width: 400px;
    cursor: pointer;
}

.km-nav {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    transform: translateX(0) translateY(-50%);
    background: #ffa41f;
    opacity: 0.9;
}

.km-nav .fas {
    font-size: 40px;
    color: white;
}

.km-left {
    left: 0;
}

.km-right {
    right: 0;
}
/* ==================end sell off================== */

/* ==================book-table================== */
.book-table {
    background: url('../storage/book-table/bg-book.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.book-form {
    max-width: 800px;
    margin: 0 auto;
}

.book-form .form-control {
    background: unset;
    border: solid 1px #ffa41f;
    color: white;
    font-weight: bold;
    height: 50px;
}

.book-form .form-control option {
    color: black;
}

.book-form .form-control::placeholder {
    color: white;
}

.book-form select {
    height: 50px !important;
}

.book-form textarea {
    height: 150px !important;
}
/* ==================end book-table================== */